<div>
    <h6>You are adding <%= ind.showname %> to your cart</h6>
    <p>There are <%= ind.availabletickets %> tickets left!</p>
    <p>The price is: $ <%= ind.price %></p>
    <p>Please confirm your information or cancel the order</p>

    <p>Your Name: <%= user.googlename %></p>
    <p>Your Email: <%= user.googleemail %></p>

    <form action = '/addToCart/add' method="post" autocomplete="off">
        <label>Number of Tickets you want to buy:</label>
        <input type="number" name ="numberOfTickets" value="1">
        <input type="hidden" name ="useremail" value=<%=user.googleemail%>>
        <input type="hidden" name ="showName" value=<%=ind.showname%>>
        <input type="hidden" name ="userID" value=<%=user._id%>>
        <br>
        <button autofocus type="submit">Confirm</button>
    </form>

    <a href = "./index"><button>Cancel</button></a>

</div>