<div>
    <h6>You are adding <%= ind.showname %> to your cart</h6>
    <p>There are <%= ind.availabletickets %> tickets left!</p>
    <p>The price is: $ <%= ind.price %></p>
    <p>Please confirm your information or cancel the order</p>

    <p>Your Name: <%= user.googlename %></p>
    <p>Your Email: <%= user.googleemail %></p>

    <button autofocus>Confirm</button>
    <button>Cancel</button>

</div>