<div>
    <img src="<%= individualShow.showpicurl %>" alt = "show poster" style="margin-left: auto; margin-right: auto;display: block"/>
    <br>
    <h3><%= individualShow.showname %></h3>
    <hr>
    <h5>Director</h5>
    <p><%= individualShow.director %></p>
    <hr>
    <h5>Show time</h5>
    <p><%= individualShow.showtime %></p>
    <hr>
    <h5>Show location</h5>
    <p><%= individualShow.showlocation %></p>
    <hr>
    <h6>Available Tickets: </h6> <p><%= individualShow.availabletickets %></p>
    <hr>
    <h6>Price: $ <%= individualShow.price %></h6>
    <hr>
    <h5>Show Description</h5>
    <p><%= individualShow.showdescription %></p>
    <hr>
    <% if(!loggedIn) {%>
        <button class = "btn btn-info" disabled><i class = "fa fa-database"></i> You have to log in to order</button>
    <% } else  { %>
    <a href="/addToCart/<%=individualShow._id%>"><button class = "btn btn-info"><i class = "fa fa-database"></i> Checkout </button></a>
    <% } %>
</div>