<div>
    <img src="<%= individualShow.showpicurl %>" alt = "show poster"/>
    <h3><%= individualShow.showname %></h3>
    <h5>Director: <%= individualShow.director %></h5>
    <h5>Show time</h5>
    <p><%= individualShow.showtime %></p>
    <h5>Show location</h5>
    <p><%= individualShow.showlocation %></p>
    <% if(!loggedIn) {%>
        <button class = "btn btn-info" disabled><i class = "fa fa-database"></i> You have to log in to add to cart</button>
    <% } else  { %>
        <a href="/addToCart/<%=individualShow._id%>"><button class = "btn btn-info"><i class = "fa fa-database"></i> Checkout </button></a>
    <% } %>

    <h6>Available Tickets: <%= individualShow.availabletickets %></h6>
    <h6>Price: $ <%= individualShow.price %></h6>
    <h5>Show Description</h5>
    <p><%= individualShow.showdescription %></p>
</div>